# pymongo를 활용한 MongoDB 프로그래밍

## AWS의 MongoDB 접속

In [ ]:
from pymongo import MongoClient 
my_client = MongoClient("mongodb://팀서버IP주소:27017/") # 팀단위 IP 주소로 수정 부탁해요

In [ ]:
print(my_client.list_database_names())

## 리눅스에 만들어놓은 book이라는 컬렉션의 도큐먼트들 추출

In [ ]:
my_doc = my_client['testdb_리눅스개인계정']['book'].find()
for x in my_doc: 
   print(x)

## 리눅스개인계정db라는 데이터베이스를 생성하거나 추출

In [ ]:
mydb = my_client['리눅스개인계정db']   # 본인 계정명(labXXdb)으로 수정할것
mycol = mydb['customers'] 
x = mycol.insert_one({"name":"dooly", "address":"SSangmun-dong, Seoul"}) 
print(x.inserted_id)

In [ ]:
collection_list = mydb.list_collection_names() 
print (collection_list)

In [ ]:
x = mycol.insert_one({"name":"gogildong", "address":"SSangmun-dong, Seoul"}) 
print(x.inserted_id)

In [ ]:
x = mycol.find_one()
print(x)

In [ ]:
my_dict = [{"name":"ddochi", "address":"Seocho-dong, Seoul"}, 
                  {"name":"dounar", "address":"Samsung-dong, Seoul"}, 
                  {"name":"heedong", "address":"SSangmun-dong, Seoul"}] 
x = mycol.insert_many(my_dict) 
print(x.inserted_ids)

In [ ]:
print(x)

In [ ]:
my_doc = mycol.find() 
for x in my_doc: 
   print(x)

In [ ]:
my_doc = mycol.find().sort("name") 
for x in my_doc: 
   print(x)

In [ ]:
my_doc = mycol.find().sort("name", -1) 
for x in my_doc: 
    print(x)

In [ ]:
my_query = {"address":"SSangmun-dong, Seoul"} 
my_doc = mycol.find(my_query) 
for x in my_doc: 
    print(x)

In [ ]:
my_query = {"name":{"$gt":"f"}} 
my_doc = mycol.find(my_query) 
for x in my_doc: 
    print(x)

In [ ]:
my_query = {"name":{"$regex":"^d"}} 
my_doc = mycol.find(my_query) 
for x in my_doc: 
    print(x)

In [ ]:
my_client.close()

## AWS의 MongoDB를 접속하는 또 다른 방법

In [ ]:
mongo_server="팀서버IP주소"
connection = MongoClient(mongo_server, 27017)

In [ ]:
db = connection.리눅스개인계정db  # 본인 계정명(labXXdb)으로 수정할것

In [ ]:
db = connection["리눅스개인계정db"]

In [ ]:
print(db)

In [ ]:
print(db.name)

In [ ]:
test_collection = db.test_collection # test_collection = db["test_collection"]

In [ ]:
test_collection

In [ ]:
post = {"author": "Mike", "text": "My first blog post!", "tags": ["mongodb", "python", "pymongo"] }
test_collection.insert_one(post)

In [ ]:
post = {"author": "Dave", "text": "My first blog post!", "tags": ["mongodb", "python", "pymongo"] }
post_id = test_collection.insert_one(post).inserted_id

In [ ]:
post_id

In [ ]:
test_collection.count_documents({})

In [ ]:
result = test_collection.insert_many(
    [
        {'number': i} for i in range(10)
    ]
)

In [ ]:
test_collection.count_documents({})

In [ ]:
myCursor = test_collection.find()
myCursor

In [ ]:
for doc in myCursor:
    print(doc)

In [ ]:
test_collection.find({"author": "Mike"})

In [ ]:
test_collection.find_one({"author": "Mike"})

In [ ]:
test_collection.count_documents({"author": "Mike"})

In [ ]:
test_collection.find_one( {"author":"Dave"} )

In [ ]:
test_collection.update_one(
    { "author" : "Dave" }, 
    { "$set" : 
        { "text" : "My second blog post!" }
    }
)

In [ ]:
test_collection.find_one( {"author":"Dave"} )

In [ ]:
myCursor = test_collection.find()
for doc in myCursor:
    print(doc)

In [ ]:
test_collection.update_one({'id':'5'}, {'$set': {'id':'5','name':'kim2'}}, upsert=True) # id가 5인 데이터가 존재하면 {'id':'5','name':'kim'}로 update를 하고 존재하지 않으면 insert

In [ ]:
myCursor = test_collection.find()
for doc in myCursor:
    print(doc)

In [ ]:
test_collection.delete_many( {"number": { "$gt": 6 } } )

In [ ]:
myCursor = test_collection.find()
for doc in myCursor:
    print(doc)

## 다음 코드와 같이 수행하면 test_insert 라는 컬렉션을 생성하거나 가져오게 됨

In [ ]:
test_insert_collection = db.test_insert

In [ ]:
test_insert_collection.insert_one({'title' : '암살', 'castings' : ['이정재', '전지현', '하정우']})

In [ ]:
test_insert_collection.insert_one({'title' : '실미도', 'castings' : ['설경구', '안성기'], 
                              'datetime' : {'year' : '2003', 'month' : 3,
                                           'val' : {'a' :{'b' : 1}}}})

In [ ]:
data1 = []
data1.append({'name' : 'aaron', 'age' : 20})
data1.append({'name' : 'bob', 'age' : 30})
data1.append({'name' : 'cathy', 'age' : 25})
data1.append({'name' : 'david', 'age' : 27})
data1.append({'name' : 'erick', 'age' : 28})
data1.append({'name' : 'fox', 'age' : 32})
data1.append({'name' : 'hmm'})

In [ ]:
test_insert_collection.insert_many(data1)

In [ ]:
data = test_insert_collection.find()
for result in data:
    print(result)

In [ ]:
data = test_insert_collection.find()

In [ ]:
data

In [ ]:
results = test_insert_collection.find({"age": {"$gt":25}})

for result in results:
  print (result)

In [ ]:
import json
with open('data/hankuk1_geo.json', encoding='UTF-8') as file: 
    file_data = json.load(file)

In [ ]:
mydb = my_client['리눅스개인계정db']   # 본인 계정명(labXXdb)으로 수정할것
mycollection = mydb['geo']

In [ ]:
import builtins
if isinstance(file_data, builtins.list): 
    mycollection.insert_many(file_data)   
else: 
    mycollection.insert_one(file_data)

In [ ]:
result = mycollection.find({})

In [ ]:
for dd in result:
    print(dd)